// Font families
$body__font: "Avenir", sans-serif;
$heading__font: "Helvetica", sans-serif;

// Colors
$purple: #9c69e2;
$pink: #f063b8;
$heading__text__color: #212353;
$body__text__color: #4b5d68;

// Spacing
$section__x__padding: 8.5vw;
$section__y__padding: 4.6875rem;

// Breakpoints
$xs: 0;
$xs__end: 575.98px;
$sm: 576px;
$sm__end: 767.98px;
$md: 768px;
$md__end: 991.98px;
$lg: 992px;
$lg__end: 1199.98px;
$xl: 1200px;
$xl__end: 1399.98px;
$xxl: 1400px;
