@import "./variables.scss";

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Black.otf");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body__font;
  font-size: 16px;
  background-color: #fff;
  color: $body__text__color;
  line-height: 1.5;
}

main {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading__font;
  color: $heading__text__color;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

.floatingContactIcon {
  position: fixed;
  bottom: 30px;
  right: 8.5%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  z-index: 20;
  border-radius: 50%;
  background-color: rgba(156, 105, 226, 0.2);
  backdrop-filter: blur(5px);
}

.floatingIconPulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  border-radius: 50%;
  background-color: rgba(156, 105, 226, 0.2);
}

.backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}
