@import "./variables";

.header {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 50%);
  padding: 0 $section__x__padding;
}

.headerTextAndHeroSection {
  display: flex;
  padding: 4rem 0;
  background: url("../assets/images/header-img.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 75%;
}

.headerTextContainer {
  flex: 0 0 40%;
}

.headerTextContainer h1 {
  font-size: 3.5rem;
  margin: 0;
}

.headerTextContainer p {
  margin: 3rem 0;
  max-width: 330px;
}

// Media queries
@media (min-width: $xs) and (max-width: $md__end) {
  .header {
    background-color: $purple;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/images/header-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .headerTextAndHeroSection {
    background: none;
    padding: 35% 0 65%;
    justify-content: center;
  }
  .headerTextContainer {
    flex: 0 0 100%;
    text-align: center;
  }
  .headerTextContainer button {
    width: 70%;
  }
  .headerTextContainer h1 {
    font-size: 3rem;
    color: #f6fafd;
  }
  .headerTextContainer p {
    color: #f6fafd;
    margin: 3rem auto;
  }
}

@media (min-width: $sm) and (max-width: $md__end) {
  .headerTextAndHeroSection {
    padding: 9rem 0;
  }
  .headerTextContainer {
    flex: 0 0 80%;
  }
  .headerTextContainer button {
    width: 60%;
  }
}

@media (min-width: $lg) and (max-width: $lg__end) {
  .headerTextAndHeroSection {
    background-size: 70%;
  }
  .headerTextContainer {
    flex: 0 0 60%;
  }
  .headerTextContainer h1 {
    font-size: 3rem;
  }
}
